<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3922358669029120~3985187056"/>
        <activity
            android:name=".Tutorial"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MultiGame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Waiting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Join"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Create"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Solo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Start"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>